<form class="ui stacked segment form" action="/changelastname" method="POST">
  <h3 class="ui header">Change last name</h3>
  <div class="field">
    <label>Email</label>
    <input type="text" name="email">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="text"  name="password">
  </div>
  <div class="field">
    <label>New last name</label>
    <input placeholder="New last name" type="text" name="newlastname">
  </div>
  <button class="ui blue submit button">Save</button>
</form>